<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto fs-3 fw-bold" href="#">Simpleet</a>
    </div>
</nav>

<div class="text-center">
  <h3 class="container-fluid my-5">
    What is Simpleet?
  </h3>
  <div class="container-fluid mt-5">
    A hassle free meeting web application that requires no signups and logins
  </div>
  <div class="container-fluid mb-5">
    Just hop-in, enter peer's ID, start the meeting
  </div>
</div>

<app-call-buttons></app-call-buttons>

